{% extends 'base.html' %}
{% block style %}
    <style>
        .info {
            display: flex;
            justify-content: space-between;
            margin: 70px 0 70px 0;
            width: 100%;
        }
    </style>
{% endblock style %}
{% block content %}
    <div class="info">
        <h1>List of Products</h1>
        <div class="btns"> 
            <button class="btn btn-light">Load Products</button>
            <button class="btn btn-light">Export Products</button>
        </div>
        
    </div>
    

    <table class="table table-striped">
        <thead>
            <th style="width: 5%;">#</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Unit price</th>
            <th></th>
        </thead>
        
        <tbody>
            {% for product in list %}
            <tr>
                <td></td>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.unit}}</td>
                <td>{{product.unit_price}}</td>
                <td><button class="btn-dark">Sell Product</button></td>
            </tr>
            {% endfor %}
            <tr>
                <form action="{{url_for('list_products')}}" method="post">
                    {{product_form.hidden_tag()}}
                    <td></td>
                    {% for field in product_form if field.widget.input_type != 'hidden' %}
                        <td>{{field}}</td>
                    {% endfor %}
                    <td><input class="btn-primary" type="submit" value="Add Product" name="btn_add"></td>
                </form>
            </tr>
        </tbody>
       
    </table>


{% endblock content %}